.form-actions {
  text-align: left;
  &.in-header {
    text-align: right;
  }
}

%form-actions-button {
  @extend .button-medium;
  margin-bottom: $sc-base-margin * 2;
  vertical-align: text-top;
  /* &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: $screen-sm-min) {
    margin-bottom: 0;
  } */
}

.form-actions-edit {
  @extend .button-primary;
  @extend %form-actions-button;
}

.form-actions-submit-secondary {
  @extend .button-secondary;
  @extend %form-actions-button;
}

.form-actions-submit {
  @extend .button-primary;
  @extend %form-actions-button;
}

.form-actions-cancel {
  @extend .button-secondary;
  @extend %form-actions-button;
}

.form-actions-custom {
  @extend .button-secondary;
  @extend %form-actions-button;
}
