.registration-list-button-back {
  @extend .button-back;
}
.registration-list-header {
  border-top: 1px solid $sc-color-theme-border;
  padding: $sc-base-padding * 3 0;
}
.registration-list-button-back-icon {
  @extend .button-back-icon;
}
.registration-list-empty {
  @extend .list-empty;
}

.registration-list-recordviews-container{
  @extend .recordviews-container;

  @media (min-width: $screen-md-min) {
    .recordviews-actionable-title-header,
    .recordviews-actionable-title {
      width: 15%;
      text-align: left;
    }
    .recordviews-actionable-date-header,
    .recordviews-actionable-date {
      width: 20%;
      text-align: left;
    }
    .recordviews-actionable-name-header,
    .recordviews-actionable-name {
      width: 45%;
      text-align: left;
    }
    .recordviews-actionable-actions-header,
    .recordviews-actionable-actions {
      width: 20%;
      text-align: right;
    }
  }
}

.registration-list-recordviews-table {
  @extend .recordviews-table;
}

.registration-list-recordviews-header{
  @extend .recordviews-header;
}

.registration-list-recordviews-title-header{
  @extend .recordviews-actionable-title-header;
}

.registration-list-recordviews-date-header{
  @extend .recordviews-actionable-date-header;
}

.registration-list-recordviews-name-header {
  @extend .recordviews-actionable-name-header;
}

.registration-list-recordviews-actions-header {
  @extend .recordviews-actionable-actions-header;
}

.registration-list-case-list-paginator{
  @extend .case-list-paginator;
}

.registration-list-main-actions {
  @extend .row;
}
.registration-list-header-nav {
  @extend .col-xs-12;
  @extend .col-lg-10;
  margin-bottom: $sc-medium-margin;
  position:relative;
}
.registration-list-new {
  @extend .col-xs-12;
  @extend .col-lg-2;
  text-align: right;
}
.registration-list-new-button {
  @extend .list-header-button;
  border: none;
}

.registration-list{
  .recordviews-actionable {
    cursor: pointer;
  }
}

.registration-list-empty-section {
  padding:$sc-base-padding * 8 $sc-base-padding * 3 $sc-base-padding * 3 $sc-base-padding * 3;
  text-align:center;
}