.registration-list-header-button-group {
  min-height: 45px;
  a, span {
    display:table-cell;
  }
}

.registration-list-header-button-active {
  @extend .button-medium;
  @extend .button-pill-active;
}

.registration-list-header-button {
  @extend .button-medium;
  @extend .button-pill;
}

.registration-list-header-button-instore {
  @extend .registration-list-header-button;
  border-left:0px;
  border-right:0px;
}