.registration-list-button-back {
  @extend .button-back;
}
.registration-list-header {
  border-top: 1px solid $sc-color-theme-border;
  padding: $sc-base-padding * 3 0;
}
.registration-list-button-back-icon {
  @extend .button-back-icon;
}
.registration-list-empty {
  @extend .list-empty;
}

.registration-list-recordviews-container{
  @extend .recordviews-container;

  @media (min-width: $screen-md-min) {
    .recordviews-actionable-title-header,
    .recordviews-actionable-title {
      width: auto;
      text-align: left;
    }
    .recordviews-actionable-date-header,
    .recordviews-actionable-date {
      width: auto;
      text-align: left;
    }
    .recordviews-actionable-text-header,
    .recordviews-actionable-text {
      width: auto;
      text-align: left;
    }
    .recordviews-actionable-actions-header,
    .recordviews-actionable-actions {
      width: auto;
      text-align: right;
    }
  }
}

.registration-list-recordviews-table {
  @extend .recordviews-table;

  &:not(.clickable-rows) {
    .recordviews-actionable-title {
      a {
        cursor: default;
        font-weight: normal;
        pointer-events: none;
        color: $sc-color-dark-copy;
        &:hover {
          color: $sc-color-dark-copy;
        }
      }
    }
  }
  &.clickable-rows {
    .recordviews-actionable {
      cursor: pointer;
    }
  }
}

.registration-list-recordviews-header{
  @extend .recordviews-header;
}

.registration-list-recordviews-title-header{
  @extend .recordviews-actionable-title-header;
}

.registration-list-recordviews-date-header{
  @extend .recordviews-actionable-date-header;
}

.registration-list-recordviews-text-header {
  @extend .recordviews-actionable-text-header;
}

.registration-list-recordviews-actions-header {
  @extend .recordviews-actionable-actions-header;
}

.registration-list-case-list-paginator{
  @extend .case-list-paginator;
}

.registration-list-main-actions {
  $cell-spacing: $sc-base-padding * 2;
  display: table;
  width: calc(100% + #{$cell-spacing * 2});
  border-collapse: separate;
  border-spacing: $cell-spacing;
  margin-left: -$cell-spacing;
  margin-right: -$cell-spacing;
  margin-bottom: $sc-base-padding * 3;
}
.registration-list-main-actions-row {
  display: table-row;
}
.registration-list-main-actions-cell {
  display: table-cell;
  vertical-align: top;
}
.registration-list-header-nav {
  @extend .registration-list-main-actions-cell;
}
.registration-list-new {
  @extend .registration-list-main-actions-cell;
  text-align: right;
  height: 100%;
}
.registration-list-new-button {
  @extend .list-header-button;
  height: 100%;
}

.registration-list{
  .list-header-view-filters {
    padding-right: 0px;
  }
}

.registration-list-empty-section {
  padding:$sc-base-padding * 8 $sc-base-padding * 3 $sc-base-padding * 3 $sc-base-padding * 3;
  text-align:center;
}