$sc-color-light-green: #72bb4b;
$sc-color-theme-shadow: #cfd5d3;
$sc-color-theme-background-light-secondary: #f2f2f2;
$sc-color-headings: $sc-color-light-green;
$sc-color-input-required: #f15c28;
$sc-color-list-header-sort-arrow: $sc-color-light-green;
$sc-color-button-secondary: #646466;
$sc-color-button-pill-active: $sc-color-light-green;
$sc-color-button-pill-hover: $sc-color-theme-background-light-secondary;