/* GROUPS */

.form-group-name {}

/* FIELDS */

.form-fields {
  margin-bottom: $sc-base-margin * 4;
  margin-top: $sc-base-margin * 2;
  display: inline-block;
  width: 100%;
}

.form-fields-row {
  @extend .row;
}

.form-fields-cell {
  @extend .col-xs-12; // 1 per row (default)
  &.span-2 {
    @extend .col-xs-12; // 1 per row
    @extend .col-md-4; // 3 per row
    @extend .col-lg-2; // 6 per row
  }
  &.span-3 {
    @extend .col-xs-12; // 1 per row
    @extend .col-sm-6; // 2 per row
    @extend .col-lg-3; // 4 per row
  }
  &.span-4 {
    @extend .col-xs-12; // 1 per row
    @extend .col-md-4; // 3 per row
  }
  &.span-6 {
    @extend .col-xs-12; // 1 per row
    @extend .col-sm-6; // 2 per row
  }
  &.span-12 {
    @extend .col-xs-12; // 1 per row
  }
}
