/* MAIN */

.form {
  @extend .box-column-bordered;
}

/* FORM INFO */

.form-info{
}
.form-info-header {
  @extend .row;
  margin-bottom: $sc-base-margin * 8;
}
.form-info-header-title {
  @extend .col-xs-12;
  @extend .col-sm-7;
}
.form-info-header-title-heading {
  line-height: 40px;
}
.form-info-header-actions {
  @extend .col-xs-12;
  &.has-title {
    @extend .col-sm-5;
  }
}
.form-info-body {
}

/* FORM ACTIONS */

.form-actions {
  text-align: left;
  &.in-header {
    text-align: right;
  }
}
.form-actions-edit {
  @extend .button-primary;
  @extend .button-medium;
}
.form-actions-submit {
  @extend .button-primary;
  @extend .button-medium;
}
.form-actions-cancel {
  @extend .button-secondary;
  @extend .button-medium;
  margin-top: $sc-base-margin * 2;

  @media (min-width: $screen-sm-min) {
    margin-left: $sc-base-margin * 2;
    margin-top: 0;
  }
}

/* GROUPS */

.form-group-name {}

/* FIELDS */

.form-fields {
  margin-bottom: $sc-base-margin * 4;
  margin-top: $sc-base-margin * 2;
  display: inline-block;
  width: 100%;
}
.form-fields-row {
  @extend .row;
}
.form-fields-cell {
  @extend .col-xs-12; // 1 per row (default)
  &.span-2 {
    @extend .col-xs-12; // 1 per row
    @extend .col-md-4; // 3 per row
    @extend .col-lg-2; // 6 per row
  }
  &.span-3 {
    @extend .col-xs-12; // 1 per row
    @extend .col-sm-6; // 2 per row
    @extend .col-lg-3; // 4 per row
  }
  &.span-4 {
    @extend .col-xs-12; // 1 per row
    @extend .col-md-4; // 3 per row
  }
  &.span-6 {
    @extend .col-xs-12; // 1 per row
    @extend .col-sm-6; // 2 per row
  }
  &.span-12 {
    @extend .col-xs-12; // 1 per row
  }
}

/* Label */
.form-fields-label {
  @extend .input-label;
}
.form-fields-required,
.form-fields-label-required {
  @extend .input-required
}
.form-fields-label-optional {
  @extend .input-optional;
  font-weight: $sc-font-weight-normal;
  // display: inline;
  display: none;
}
.form-fields-icon-question-sign {
  @extend .sc-tooltip;
  padding: 0px;
}
/* Input */
.form-fields-form-controls {
  position: relative;
}
$search-icon-size: 37px;
.form-fields-input {
  @extend .input-large;
  @include box-sizing(border-box !important);
  width: 100%;
  .form-fields-lookup & {
    padding-right: $search-icon-size + ($sc-base-margin * 2);
  }
}
.form-fields-input-inline {
  @extend .form-fields-input;
  padding: 0px;
  border: none;
  height: 40px;
  line-height: 40px;
}
.form-fields-input-required {
  @extend .input-required;
}
.form-fields-input-search-icon {
  @extend .fa;
  @extend %fa-search;
  position: absolute;
  right: 1px;
  top: 1px;
  height: $search-icon-size;
  line-height: $search-icon-size;
  width: $search-icon-size;
  text-align: center;
  font-size: 18px;
  color: $sc-color-theme;
  cursor: pointer;
  background: #ffffff;
  border-left: 1px solid $sc-color-theme-light;
}
.form-fields-input-help {
  @extend .input-help;
  margin-bottom: $sc-base-margin * 3;
}