.case-new-form-case-category.categorydependency {
  option {
    display: none;
    &:first-child {
      display: block;
    }
    &.show {
      display: block;
    }
  }
}

.case-detail-field-message-text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: pre-wrap;
}