.knowledge {
}
.knowledge-iframe {
  width: 100%;
  height: 513px;
}
.knowledge-header {
	text-align: center;
	padding-top: 10%;
}

.knowledge-link {
	color: #72bb4b;
}

.knowledge-link:hover{
	color: #72bb4b;
	text-decoration: underline;
}