.header-menu-profile {
  .header-menu-myaccount-item-level2 {
    $margin: $sc-base-padding * 8;
    width: calc(16.66% - #{$margin} + #{$margin / 6});
    margin-right: $margin;
    padding: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .header-menu-myaccount-crud-menus {
    margin-bottom: $sc-base-margin * 4;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}